{% extends "header.html" %}

{% block content %}
    {% if request.session.id_usuario %}
        {% if tiene_suscripcion %}
            <h2>SI TIENE SUSCRIPCION!</h2>
        {% else %}
            <h2>No tienes una membresía activa, tu cita se asignará automáticamente al presionar el botón.</h2>
            <form method="POST">
                {% csrf_token %}
                <button type="submit">Asignar cita automáticamente</button>
            </form>
        {% endif %}
    {% else %}
        <h1>¡Para agendar una hora inicia sesión o crea una cuenta!</h1>
        <script>
            setTimeout(function() {
                window.location.href = "/login";
            }, 1500);
        </script>
    {% endif %}
{% endblock %}
