{% extends "header.html" %}

{% block content %}
{% if request.session.id_usuario %}
    <div class="container text-center">
        <h1>Seleccione una opción</h1>
        <div class="d-flex flex-column align-items-center mt-4">
            <a href="/agendar-consulta" class="btn btn-primary btn-lg w-50 mb-3">Consulta Médica</a>
            <a href="/agendar-examen" class="btn btn-primary btn-lg w-50 mb-3">Horas para exámenes</a>
            <!--<a href="/agendar-seguimiento" class="btn btn-primary btn-lg w-50">Horas de seguimiento</a>-->
        </div>
    </div>
{% else %}
    <h1>¡Inicia sesión o crea una cuenta!</h1>
    <script>
        setTimeout(function() {
            window.location.href = "/login";
        }, 1000);
    </script>
{% endif %}
{% endblock %}
